.aboutBottom {
  transform: rotate(180deg);
  left: 0;
  width: 100%;
}
.aboutBottom_svg {
  width: calc(130% + 1.3px);
  overflow: hidden;
  height: 130px;
  line-height: 0;
  margin-left: -200px;
}
.aboutBottom_Path {
  fill: #fff;
  transform-origin: center;
  transform: rotateY(0deg);
}

@media (max-width: 900px) {
  .aboutBottom {
    margin-left: -100px;
  }
  .aboutBottom_svg {
    width: calc(140% + 1.3px);
    height: 100px;
    margin-left: -220px;
  }
}

@media (max-width: 700px) {
  .aboutBottom_svg {
    width: calc(160% + 1.3px);
    height: 70px;
    margin-left: -230px;
  }
}
