.header {
  padding-top: 20px;
  background: linear-gradient(320deg, #30b2ea 0%, #5355ee 100%);
}
.header_leftLogo {
  width: 50%;
  height: auto;
  max-width: 100%;
  margin-left: -7px;
}
.nav-link {
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  margin-right: 25px;
}
.nav-link:hover {
  color: #ffbe56 !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
